<section class="library-card">
    <div class="library-card__card-header">
        <h2>{{games.name}}</h2>
        <p class="library-card__card-header-price">{{games.price}}</p>
    </div>
    <div class="library-card__card-body">
        <p>{{games.description}}</p>
        <div>
            <button type='submit' (click)="download(games.name)">Download</button>
            <button type='submit' class='library-card__share-btn' (click)="share(games.name)">Share</button>
        </div>
    </div>
</section>