nav {
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
}
ul {
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
li:hover {
    text-shadow: 0 0 3px #81b29a;
}
#welcome {
    color:#81b29a;
}
li.active {
    text-shadow: 0 0 3px #81b29a;
}
b {
    margin-left: 10px;
}