<nav class="nav-bar">
    <ul>
        <li [routerLink]="['/games']" routerLinkActive="active"><fa-icon [icon]="faDiceD20"></fa-icon></li>
        <li [routerLink]="['/games']" routerLinkActive="active">Games</li>
        <li [routerLink]="['/library']" routerLinkActive="active">Library</li>
        <li [routerLink]="['/friends']" routerLinkActive="active">Friends</li>
        <li [routerLink]="['/profile']" routerLinkActive="active">Profile</li>
    </ul>
    <div class="nav-bar__right">
        <div class="nav-bar__greeting" *ngIf="auth.isAuthenticated()">Welcome {{auth.currentUser.username}} !</div>
        <button (click)="logOut()">Log Out</button>
    </div>
  </nav>